<nav class="w-3/4 mx-auto mt-3">
    <div class="bg-neutral-300 flex items-center pt-1 pb-1 rounded-lg">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" 
        alt="logo" 
        class="ml-10"
        width="50"
        height="50"> 
        <span class="ml-3"><strong>App Tareas</strong></span>
    </div>
</nav>
<!-- <div class="flex items-center flex-shrink-0  mr-6">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <span class="font-semibold text-xl tracking-tight">Tailwind CSS</span>
  </div> -->